<div class="container mt-3">
  <div class="row">
    <div class="col-md-6"><label for="classSelect" class="form-label">Wybierz klasę:</label>
      <select id="classSelect" class="form-select" [(ngModel)]="selectedClass">
      <option *ngFor="let cls of classList" [value]="cls">{{ cls }}</option>
    </select></div>
    <div class="col-md-6 d-flex align-items-end">
      <button class="btn btn-primary ms-2" (click)="loadInstances()" [disabled]="!selectedClass">Załaduj</button>
    </div>
  </div>
</div>
<div class="mt-3" aria-labelledby="resultsTitle">
  <h3 id="resultsTitle">Wyniki</h3>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let inst of instances">{{ inst }}</li>
  </ul>
</div>
